<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="icon" href="/imgs/logoPage.png" />
    <title>Registro Pacientes</title>
</head>
<body>
<!--Barra de navegacion-->
<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a th:href=@{/} class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/imgs/logoClinica.png" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Clínica Vida Sana</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a th:href=@{/} class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
                </li>
                <li>
                    <a th:href=@{/paciente/registro} class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Registrar Paciente</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!-- Registro de Paciente -->
<form action="/paciente/guardar" method="post" th:object="${paciente}"
        class="max-w-sm mx-auto">
    <div class="mb-5">
        <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
        <input type="text" th:field="*{nombre}"
               id="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
               placeholder="Ingrese su Nombre" required />
        <span
                th:if="${#fields.hasErrors('nombre')}" th:errores="*{nombre}"
                class="block mb-2 text-sm font-medium text-red-600">Error de nombre</span>
    </div>
    <div class="mb-5">
        <label for="cedula" class="block mb-2 text-sm font-medium text-gray-900">Cédula</label>
        <input type="text" th:field="*{cedula}"
               id="cedula" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
               placeholder="Ingrese su cédula" required />
        <span
                th:if="${#fields.hasErrors('cedula')}" th:errores="*{cedula}"
                class="block mb-2 text-sm font-medium text-red-600">Error de Cedula</span>
    </div>
    <div class="mb-5">
        <label for="correo" class="block mb-2 text-sm font-medium text-gray-900">Correo</label>
        <input type="email" th:field="*{correo}"
               id="correo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
               placeholder="Ingrese su Correo" required />
        <span
                th:if="${#fields.hasErrors('correo')}" th:errores="*{correo}"
                class="block mb-2 text-sm font-medium text-red-600">Error de Correo</span>
    </div>
    <div class="mb-5">
        <label for="fechaNacimiento" class="block mb-2 text-sm font-medium text-gray-900">Fecha de nacimiento</label>
        <input type="date" th:field="*{fechaNacimiento}"
               id="fechaNacimiento" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
               required />
        <span
                th:if="${#fields.hasErrors('fechaNacimiento')}" th:errores="*{fechaNacimiento}"
                class="block mb-2 text-sm font-medium text-red-600">Error de Fecha de Nacimiento</span>
    </div>
    <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-gray-900">Género</label>
        <div class="flex items-center mb-2">
            <input type="radio" th:field="*{genero}"
                   id="masculino" name="genero" value="Masculino" class="mr-2">
            <label for="masculino" class="text-sm text-gray-900">Masculino</label>
        </div>
        <div class="flex items-center">
            <input type="radio" th:field="*{genero}"
                   id="femenino" name="genero" value="Femenino" class="mr-2">
            <label for="femenino" class="text-sm text-gray-900">Femenino</label>
        </div>
        <span
                th:if="${#fields.hasErrors('genero')}" th:errores="*{genero}"
                class="block mb-2 text-sm font-medium text-red-600">Error de Genero</span>
    </div>
    <div class="mb-5">
        <label for="telefono" class="block mb-2 text-sm font-medium text-gray-900">Teléfono de contacto</label>
        <input type="text" th:field="*{telefono}"
               id="telefono"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
               placeholder="Ingrese su Telefono" required />
        <span
                th:if="${#fields.hasErrors('telefono')}" th:errores="*{telefono}"
                class="block mb-2 text-sm font-medium text-red-600">Error de Telefono</span>
    </div>
    <div class="mb-5">
        <label for="direccion" class="block mb-2 text-sm font-medium text-gray-900">Dirección</label>
        <input type="text" id="direccion" th:field="*{direccion}"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
               placeholder="Ingrese su direccion:" required />
        <span
                th:if="${#fields.hasErrors('direccion')}" th:errores="*{direccion}"
                class="block mb-2 text-sm font-medium text-red-600">Error de Direccion</span>
    </div>
    <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-gray-900">Antecedentes médicos</label>
        <div class="flex items-center">
            <input type="checkbox" th:field="*{antMedicos}"
                   id="antecedentes" class="mr-2">
            <label for="antecedentes" class="text-sm text-gray-900">Sí</label>
        </div>
        <span
                th:if="${#fields.hasErrors('antMedicos')}" th:errores="*{antMedicos}"
                class="block mb-2 text-sm font-medium text-red-600">Error de Antecedentes</span>
    </div>
    <div class="mb-5">
        <label for="telEmergencia" class="block mb-2 text-sm font-medium text-gray-900">Contacto de emergencia</label>
        <input type="text" id="telEmergencia" th:field="*{contEmergencia}"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
               placeholder="Ingrese su Contacto de emergencia" required />
        <span
                th:if="${#fields.hasErrors('contEmergencia')}" th:errores="*{contEmergencia}"
                class="block mb-2 text-sm font-medium text-red-600">Error de Contacto de Emergencia</span>
    </div>
    <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-gray-900">Grupo sanguíneo</label>
        <div class="flex flex-wrap">
            <div class="flex items-center mr-4">
                <input type="radio" th:field="*{grupoSanguineo}"
                       id="grupoA+" name="grupoSanguineo" value="A+" class="mr-2">
                <label for="grupoA+" class="text-sm text-gray-900">A+</label>
            </div>
            <div class="flex items-center mr-4">
                <input type="radio" th:field="*{grupoSanguineo}"
                       id="grupoA-" name="grupoSanguineo" value="A-" class="mr-2">
                <label for="grupoA-" class="text-sm text-gray-900">A-</label>
            </div>
            <div class="flex items-center mr-4">
                <input type="radio" th:field="*{grupoSanguineo}"
                       id="grupoB+" name="grupoSanguineo" value="B+" class="mr-2">
                <label for="grupoB+" class="text-sm text-gray-900">B+</label>
            </div>
            <div class="flex items-center mr-4">
                <input type="radio" th:field="*{grupoSanguineo}"
                       id="grupoB-" name="grupoSanguineo" value="B-" class="mr-2">
                <label for="grupoB-" class="text-sm text-gray-900">B-</label>
            </div>
            <div class="flex items-center mr-4">
                <input type="radio" th:field="*{grupoSanguineo}"
                       id="grupoAB+" name="grupoSanguineo" value="AB+" class="mr-2">
                <label for="grupoAB+" class="text-sm text-gray-900">AB+</label>
            </div>
            <div class="flex items-center mr-4">
                <input type="radio" th:field="*{grupoSanguineo}"
                       id="grupoAB-" name="grupoSanguineo" value="AB-" class="mr-2">
                <label for="grupoAB-" class="text-sm text-gray-900">AB-</label>
            </div>
            <div class="flex items-center mr-4">
                <input type="radio" th:field="*{grupoSanguineo}"
                       id="grupoO+" name="grupoSanguineo" value="O+" class="mr-2">
                <label for="grupoO+" class="text-sm text-gray-900">O+</label>
            </div>
            <div class="flex items-center">
                <input type="radio" th:field="*{grupoSanguineo}"
                       id="grupoO-" name="grupoSanguineo" value="O-" class="mr-2">
                <label for="grupoO-" class="text-sm text-gray-900">O-</label>
            </div>
        </div>
        <span
                th:if="${#fields.hasErrors('grupoSanguineo')}" th:errores="*{grupoSanguineo}"
                class="block mb-2 text-sm font-medium text-red-600">Error de Grupo Sanguineo</span>
    </div>

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>